footer{
    margin-top: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
    @media screen and (max-width: 1366px){
        position: initial; 
        margin-top: 40px;   
    }
    p{
        margin-bottom: 0;
        text-align: center;
    }

    
}